{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

{{/* Search through containers' labels to find where to proxy the virtual hosts to */}}

{{ range $index, $proxyContainer := $ }}
    {{ if eq (index $proxyContainer.Labels "mitmproxy.proxyVirtualHosts") "true" }}

        {{/* Compare the networks of the proxy container with the current container to find a common network */}}

        {{ range $index, $network := $proxyContainer.Networks }}
            {{ range $currentIndex, $currentNetwork := $CurrentContainer.Networks }}
                {{ if eq $network.Name $currentNetwork.Name }}

                    {{/* Collect the virtual hosts, and proxy them to the reverse proxy */}}
                    
                    {{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
                        {{ $host := trimPrefix "*" $host }}
address=/{{ $host }}/{{ $network.IP }}
                    {{ end }}

                {{ end }}
            {{ end }}
        {{ end }}

    {{ end }}
{{ end }}

server=8.8.8.8
